html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
:focus { outline: 0; }

body { line-height: 1; color: black; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { font-weight: normal; text-align: left; }

strong, h2, h3, h4, h5, h6 { font-weight: bold; }
em { font-style: italic; }

/* Style */

body { background: #fff; font: 12px Arial, Verdana, Helvetica, sans-serif; text-align: center; }

#geral { margin: 0 auto; width: 90%; text-align: left; }

#topo { overflow: hidden; margin: 10px 0 0; }
#topo img { float: left; margin: 8px 5px 0 0; }
#otpo h1, .post-data { float: left; }

#conteudo .post-data { font-size: 11px; color: #666; font-weight: bold; }
#conteudo h1 { font: normal bold 2.2em/1em Arial, Verdana, Helvetica, sans-serif; letter-spacing: -0.03em; margin: 10px 0 5px 0; color: #000; font-weight: bold;}
#conteudo h2 { font: italic bold 1.6em/1.2em Georgia, serif; margin: 2px 0 5px; color: #000; font-weight: bold; }
#conteudo .texto { font-size: 1.2em; line-height: 1.6em; margin: 20px 0; padding: 5px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
#conteudo .texto p { margin: 10px 0;}
#conteudo .serif { font: italic bold 1em/1em Georgia, serif; }
#conteudo .lead  p{ color: #999; font-weight: bold; font-size: 1.25em; display: block; margin-bottom: 10px; }

#conteudo .texto ul { margin: 0 40px; }
#conteudo .texto ul li { list-style: disc;  margin: 5px 0; }

#conteudo .texto ol { margin: 0 40px; }
#conteudo .texto ol li { list-style: decimal; margin: 5px 0;}

#geral a, #geral a:visited  { color: #666; border-bottom: 1px solid #666; text-decoration: none; }
#geral a:hover { border-bottom: none;}

#footer { margin: 10px; font-size: 1em; }
#footer .copy { font-size: .9em; text-align: center }

@media print {
    #comments_controls,
    #print-link {
        display: none;
    }
}

/* wordpress */
.wp-caption {
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin: 10px;
    padding-top: 4px;
    text-align: center;
    font-size: 12px; line-height: 11px; font-style: italic;
}

.aligncenter, dl.aligncenter {
    display: block;
    margin: 10px auto;
}

.alignleft, dl.alignleft { float: left; }
.alignright, dl.alignright { float: right; }

#gallery-1 { margin: 20px auto; }
#gallery-1 .gallery-item { float: left; margin-top: 10px; text-align: center; width: 25%; }
.gallery-item  img { border: 1px solid #DDDDDD; }
.gallery-caption { font: italic bold 1.2em/1.3em Georgia, serif; color: #175783;  }

.cpd { font-weight: bold; padding: 10px; overflow: hidden; }